
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="col-xs-12 margin25">
    <br />
    <p>
        1 - Загрузите изображение
    </p>

    <p>
        2.1 - Приложение считывает EXIF-данные изображения (если они существуют)
    </p>

    <p>
        2.2 - Если данные содержат GPS-координаты, то подгружается Google Maps с маркером
    </p>
</div>

<div class="col-xs-12 margin25">
    @using (Html.BeginForm("UploadImage", "Exif", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div style="display:inline-block">
            <input type="file" class="button" value="Загрузить изображение" name="upload" />
        </div>
        <div style="display:inline-block">
            <input type="submit" class="button okButton" value="OK" />
        </div>
    }
</div>


    @if (ViewBag.Error != true)
    {

        if (ViewBag.WithExif != null)
        {
            <div class="col-xs-12 col-sm-6">
                <img class="img-responsive" src=@ViewBag.Path />
            </div>
            if (ViewBag.WithExif == true)
            {
                if (Model.ContainsKey("Latitude") && Model.ContainsKey("Longitude"))
                {
                    string latitude = Model["Latitude"].Replace(',', '.');
                    string longitude = Model["Longitude"].Replace(',', '.');


                    

                        <iframe frameborder="0" style="border:0" class="col-xs-12 col-sm-6 map"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC0IvhOIuMwLL0QHQZ7QnfDshuVWVoBQ-0&q=@latitude,@longitude&maptype=satellite"></iframe>


<div class="col-xs-12 margin25">

</div>

                                <div class="container col-xs-12">
                                    <div class="key col-xs-12 col-sm-2">
                                        Latitude
                                    </div>
                                    <div class="value col-xs-12 col-sm-10">
                                        @Model["Latitude"]
                                    </div>
                                </div>
                                <div class="container col-xs-12">
                                    <div class="key col-xs-12 col-sm-2">
                                        Longitude
                                    </div>
                                    <div class="value col-xs-12 col-sm-10">
                                        @Model["Longitude"]
                                    </div>


                                </div>

                    Model.Remove("Latitude");
                    Model.Remove("Longitude");
                }


                foreach (var v in Model)
                {
                    <div class="container col-xs-12">
                        <div class="key col-xs-12 col-sm-2">
                            @v.Key
                        </div>
                        <div class="value col-xs-12 col-sm-10">
                            @v.Value
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-xs-12 nodata">
                    У изображения нет Exif-данных
                </div>
            }
        }
    }
    else
    {
        if (ViewBag.Error != null)
        {
            <div class="col-xs-12 nodata">
                @ViewBag.ErrorMessage
            </div>
        }
    }

<br />
<br />



